@CHARSET "ISO-8859-1";

/*============================================================*/
/*------------------------------------------------------------*/
a {
	-moz-outline-style: none;
	color: #884a14;
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
}

a:HOVER {
	text-decoration: underline;
}

abbr {
	border-bottom: medium none;
}

body {
	background: #fff;
	color: #333;
	direction: ltr;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.2727;
	margin: 0;
	padding: 0;
	text-align: left;
	padding: 0;
}

form {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	font-size: 13px;
	font-weight: normal;
}

img {
	border: 0 none;
}

p {
	margin: 1em 0;
}

select {
	border: 1px solid #884a14;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
	padding: 2px;
}

table {
	word-wrap: normal;
}

td,td.label {
	font-size: 11px;
	text-align: left;
}

textarea,.input-text,.input-password {
	border: 1px solid #884a14;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 3px;
	width: 175px;
}

textarea {
	max-width: 100%;
}

ol,ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*------------------------------------------------------------*/
.rfloat {
	float: right;
}

.lfloat {
	float: left;
}

.inline-block {
	display: inline-block;
}

.mbm {
	margin-bottom: 10px;
}

.mbs {
	margin-bottom: 5px;
}

.mhs {
	margin-left: 5px;
	margin-right: 5px;
}

.mhm {
	margin-left: 10px;
	margin-right: 10px;
}

.mhl {
	margin-left: 20px;
	margin-right: 20px;
}

.mrm {
	margin-right: 10px;
}

.mrs {
	margin-right: 5px;
}

.mtl {
	margin-top: 20px;
}

.mtm {
	margin-top: 10px;
}

.mts {
	margin-top: 5px;
}

/*------------------------------------------------------------*/
.pas {
	padding: 5px;
}

.pam {
	padding: 10px;
}

.pal {
	padding: 20px;
}

.pbs {
	padding-bottom: 5px;
}

.pbm {
	padding-bottom: 10px;
}

.pbl {
	padding-bottom: 20px;
}

.phs {
	padding-left: 5px;
	padding-right: 5px;
}

.phm {
	padding-left: 10px;
	padding-right: 10px;
}

.phl {
	padding-left: 20px;
	padding-right: 20px;
}

.pls {
	padding-left: 5px;
}

.plm {
	padding-left: 10px;
}

.pll {
	padding-left: 20px;
}

.prs {
	padding-right: 5px;
}

.prm {
	padding-right: 10px;
}

.prl {
	padding-right: 20px;
}

.pts {
	padding-top: 5px;
}

.ptm {
	padding-top: 10px;
}

.ptl {
	padding-top: 20px;
}

.pvs {
	padding-bottom: 5px;
	padding-top: 5px;
}

.pvm {
	padding-bottom: 10px;
	padding-top: 10px;
}

.pvl {
	padding-bottom: 20px;
	padding-top: 20px;
}

/*------------------------------------------------------------*/
fwn {
	font-weight: normal;
}

.fwb {
	font-weight: bold;
}

.fss {
	font-size: 10px;
}

.fsn {
	font-size: 11px;
}

.fsl {
	font-size: 13px;
}

/*------------------------------------------------------------*/
.small-thumb {
	display: block;
	height: 32px;
	width: 32px;
}

.medium-thumb {
	height: 50px;
	width: 50px;
}

.large-thumb {
	display: block;
	height: 90px;
	width: 90px;
}

/*------------------------------------------------------------*/
.input-text,.input-password {
	padding-bottom: 4px;
}

.input-label-radio,.input-label-checkbox {
	float: left;
	margin: 0;
	padding: 0;
}

.input-label-radio {
	margin-top: 2px;
	margin-right: 4px;
}

.input-textarea-full {
	width: 98%;
}

.form-error {
	margin-left: 130px;
	color: #f00;
	font-size: 11px;
	font-weight: normal;
}

.button {
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;;
	line-height: 13px;
	padding: 2px 6px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}

.button {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.button-text {
	color: #fff;
}

.button-text,.button input,.button button {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	margin: 0;
	padding: 0 0 1px;
	white-space: nowrap;
}

.button-confirm {
	background-color: #666;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #444;
	border-left-color: #444;
	border-radius: 3px 3px 3px 3px;
}

.button-confirm,.button-register {
	color: #fff;
}

.button-register {
	color: #fff;
	background-color: #2b9b46;
	border-top-color: #6ec081;
	border-right-color: #6ec081;
	border-bottom-color: #105b21;
	border-left-color: #105b21;
	border-radius: 3px 3px 3px 3px;
}

.button-wide {
	padding: 2px 16px;
}

/*------------------------------------------------------------*/
#global-container {
	margin: 0 auto;
	postiion: relative;
}

#left-column {
	padding-top: 20px;
	word-wrap: break-word;
}

#content-area {
	padding-bottom: 30px;
}

#page-footer {
	bottom: 0;
	padding-bottom: 5px;
	position: absolute;
	width: 100%
}

#footer-container {
	color: #fff;
}

/*------------------------------------------------------------*/
.hidden-element {
	display: none;
}

/*------------------------------------------------------------*/
.grid {
	border: 0 none;
	border-collapse: collapse;
	border-spacing: 0;
}

.fixed-grid {
	table-layout: fixed;
	width: 100%;
}

/*------------------------------------------------------------*/
#logger-log p {
	font-family: 'Lucida Console';
	margin: 0;
}

/*------------------------------------------------------------*/
/*============================================================*/